<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAL0D9u-dol6R5qyXhF1xUzs4UzA7mUg_o</string>
	<key>GCM_SENDER_ID</key>
	<string>1024150348141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.classmates.com</string>
	<key>PROJECT_ID</key>
	<string>classmates-23e84</string>
	<key>STORAGE_BUCKET</key>
	<string>classmates-23e84.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024150348141:ios:37f804bb4ee4a1c2cafa64</string>
</dict>
</plist>